.main-theme {
  --color-primary: #1C2E8C;
  --color-secondary: #FFFFFF;
  --color-side-block: #86A3B4;
  --color-text: #263036;
  --color-titles: #1E1E1E;
  --color-border: #1E1E1E;
}

.my-theme {
  --color-primary:#5D2A36;
  --color-secondary: #FFFFFF;
  --color-side-block: #E7CAD1;
  --color-text: #3C3F40;
  --color-titles: #393D3E;
  --color-border: #5D2A36;
}

:root {
  /*sizes*/
  --size-bottom-central-space: 28px;
  --padding-left-side-block: 40px;
  --padding-left-central-block: 55px;
  --padding-right-central-block: 55px;
  --padding-border-bottom: 28px;
}

.wrapper {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  max-height: 2000px;
  justify-content: center;
}

.top-line {
  font-style: normal;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-text);
}

.bottom-line {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-text);
}

.side-block {
  background-color: var(--color-side-block);
  max-width: 385px;
  border: 0, 5px solid var(--color-border);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  z-index: 1;
  animation: sideUp 2s ease-out;
}

@keyframes sideUp {
  80% {
    transform: translateY(0px);
  }
  0% {
    transform: translateY(385px);
    opacity: 0;
  }
}
.name-content {
  padding-left: var(--padding-left-side-block);
  padding-right: 20px;
  padding-top: 30px;
}

.name {
  color: var(--color-secondary);
}

.surname {
  color: var(--color-primary);
}

.image {
  cursor: pointer;
  transform: scale(1.2);
  transform-origin: left;
  transition: 1s ease-in;
  box-shadow: 0px 2px 15px 5px rgba(201, 24, 27, 0.32);
  transform: scale(1);
}

.image.image-enlarged {
  transform: scale(1.2);
}

.position-name {
  font-weight: bold;
  font-size: 40px;
}

.name-content {
  padding-bottom: 15px;
}

.hire-me-link {
  font-size: 20px;
  color: --color-primary;
}
.hire-me-link:visited {
  color: --color-text;
}
.hire-me-link:hover {
  text-decoration: none;
}

.info-content {
  padding-left: var(--padding-left-side-block);
  padding-right: 20px;
}

.languages-content {
  font-weight: 600;
  font-size: 20px;
  color: var(--color-text);
}

.side-title {
  padding-top: 10px;
  font-weight: 600;
  font-size: 32px;
  padding-bottom: var(--size-bottom-side-space);
  color: var(--color-titles);
}

.side-border {
  border-bottom: 6px solid var(--color-border);
  max-width: 289px;
  padding-bottom: var(--padding-border-bottom);
}

.central-block {
  max-width: 800px;
  padding-bottom: var(--padding-border-bottom);
  color: var(--color-text);
  border: 1px solid;
  padding-left: var(--padding-left-central-block);
  padding-right: var(--padding-right-central-block);
  animation: centralUp 2.5s ease-in-out;
}

@keyframes centralUp {
  80% {
    transform: translateY(0px);
  }
  0% {
    transform: translateY(385px);
    opacity: 0;
  }
}
.central-border {
  border-bottom: 6px solid var(--color-border);
  max-width: 659px;
}

.central-title {
  font-weight: 600;
  font-size: 36px;
  padding-bottom: var(--size-bottom-central-space);
  color: var(--color-titles);
}

.title-letter {
  border-radius: 3px;
  border: 1px solid #000;
  padding: 5px;
  margin-right: 5px;
}

.content-links {
  color: var(--color-primary);
  text-decoration: none;
}

.skill-list {
  -moz-column-count: 2;
       column-count: 2;
}

.bold {
  font-weight: bold;
}

.work-descr {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
}
.work-descr:hover {
  opacity: 1;
  transition: 1s ease-in;
}

.ed-descr {
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 385px) {
  .wrapper {
    flex-direction: column;
    max-height: 2800px;
    max-width: 385px;
    margin: 0;
    padding: 0;
  }
  .image:hover {
    transform: none;
    box-shadow: none;
  }
}/*# sourceMappingURL=styles.css.map */