.wrapper{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 1300px;
}

.side-block{
    background-color:#86A3B4;
    width: 340px;
    border: 1px solid;
}
.name-content{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}
.info-content{
    padding-left: 20px;
    padding-right: 20px;
}
.central-block{
    width: 700px;
    padding: 30px;
    border: 1px solid;
}
.position-name {
    font-weight: bold ;
    font-size: 40px;
}
.image{
    padding-bottom: 10px;
}

.name {
   color: white;
}
.surname{
    color: darkblue;
}
.side-border{
    border-bottom: 6px solid #1E1E1E;
    width: 289px;

}
.central-border{
    border-bottom: 6px solid #1E1E1E;
    width: 659px;
}


.side-title{
    font-weight: 600;
    font-size: 32px;
    color: #263036;
}
.central-title{
    font-weight: 600;
    font-size: 36px;
    color: #263036;
}
.top-line{
    font-style: normal;
    font-size: 24px;
    font-weight: 600;
    color: #263036;
}
.bottom-line{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #263036;
}
.links{
   color: #1C2E8C;
    text-decoration: none;
}
.languages-content{
    font-weight: 600;
    font-size: 20px;
    color: #1E1E1E;
}
       /*skills*/
.skill-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 5px;
    padding-right: 170px;
}
      /* work description*/
.bold{
    font-weight: bold;
}
.work-descr{
    font-size: 14px;
    font-weight: 400;
}


